@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-color: #0d6efd;
    --secundary2-color: #8B49FC;
    --third-color: #FCDE49;
    --background: #EAEAEA;
    --font-color1: #3d3d3d;
    --font-color2: #fcfcfc;
    --main-color-pressed: #0350c4;
    --third-color-pressed: #e9c92a;
    --secundary2-color-pressed: #6d2ddb;
}
* {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--background);
}