@import url("constants.css");

#footer__main{
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
}
#footer_title{
 padding: 15px 20px;
}
h1.end1{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: xx-large;
    font-family:monospace
}

p.end1{
    font-size: medium;
    color: gold;
    
}

p.end11{
    font-size: medium;
    border: 1.5px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px; 
}

h1.end2{
    font-size: medium;
    color: gold;
}

p.end2{
    font-size: medium;
}

h1.end3{
    font-size: medium;
    color: gold;
}
footer{
    background-color: rgb(107, 24, 219);
    width: 100%;
    padding-bottom: 20px;
    color: aliceblue;

}

img.logo{
width: 90px;

}
p.email{
    font-size: medium;
}

p.copy{
    text-align: center;
}

hr{
    border-style: solid; border-width: medium; border-color: aliceblue;
}

iframe.maps{
  border-radius: 25px;
}

address.cep{
    font-style: italic;
    font-size: medium;
}
