@import url("constants.css");

header{
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    border-bottom: 5px solid #2929294d;
    z-index: 1;
}

#header__title {
    display: none;
    font-size: 1.4em;
}

nav {
    margin-right: 20px;
}

#nav__options{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    list-style-type: none;
}

#menu-icon {
    font-size: 30px;
    color: var(--background);
}

.nav__option{
    display: none;
    transition: transform .15s ease-in-out;
}

.nav__option a{
    text-decoration: none;
    color: var(--background);
}

.nav__option a:hover{
    color: var(--font-color2);
}
.nav__option:hover{
    transform: scale(1.1);
}

#icon {
    width: 120px;
}

@media (min-width:700px) {
    header div > a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    #header__title {
        margin: 0px;
        display: inline-block;
        color: var(--font-color2);
    }
}