/* Esse projeto é mobile first, ou seja, primeiro fazemos o layout para celulares
    e depois adicionamos adaptações para as outras telas.
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("constants.css");
@import url("footer.css");
@import url("header.css");
@import url("hidescroll.css");
@import url("button.css");


body {
    font-family: "Inter", sans-serif;
    color: var(--font-color1);
    background-color: var(--background);
}

h1 {
    font-weight: bold;
    margin-bottom: 10px;
}
#about__title1{
    display: inline-bl;
}
#about__title2{
    display: none;
}

/* CONTAINERS STYLE */
.content-container{
    padding: 20px;
}
.content-container:nth-child(odd) {
    background-color: var(--secundary2-color);
    color: var(--font-color2);
}

#example-img {
    display: none;
}


/* BTNS STYLE */
#form-btn {
    margin: 20px 10px;
    font-size: 1em;
    background-color: var(--third-color);
    color: var(--font-color1);
}
#form-btn:hover {
    background-color: var(--third-color-pressed);
}
#games-btn {
    margin: 10px 0px 20px;
    background-color: var(--main-color);
    color: var(--font-color2);
}
#games-btn:hover {
    background-color: var(--main-color-pressed);
}


/* PARTICIPANTES */
#participants-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#students-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.participant-container{
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 10px;
    color: var(--font-color2);
    transition: .1s ease-in-out transform;
}
.participant-container:hover{
    transform: scale(1.025);
}
.participant-container h2{
    font-size: 20px;
    font-weight: bold;
}
.participant-container img {
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--font-color2);
    aspect-ratio: 1/1;
}
.participant-btn{
    display: inline-block;
    box-shadow: 0px 0px;
    background-color: var(--third-color);
    color: var(--font-color1);
    margin-top: 5px;
    width: 100px;
}
.participant-btn:hover {
    background-color: var(--third-color-pressed);
}
/* - Professora */
#prof {
    background-color: var(--third-color);
    order: -1;
    color: var(--font-color1);
    margin-bottom: 15px;
}
#prof img {
    border-color: var(--main-color);
}
#prof a {
    background-color: var(--font-color2);
}


/* JOGOS */
#games-div {
    background-color: var(--background);
    border-radius: 10px;
    padding: 10px;
}
nav{
    display: flex;
    gap: 5px;
}
#btn-filter {
    border: 0px;
    box-shadow: 0px 0px;
    font-weight: bold;
    background-color: var(--font-color1);
    color: var(--font-color2);
}
#btn-filter:hover {
    cursor: pointer;
    background-color: #353535;
}
#btn-filter-remove {
    border: 0px;
    box-shadow: 0px 0px;
    font-weight: bold;
    background-color: #c20918;
    color: var(--font-color2);
    
    display: none;
}
#btn-filter-remove:hover {
    cursor: pointer;
    background-color: #9c0411;
}
#games-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.game-container{
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 20px;
    background-color: var(--font-color2);
    border-radius: 10px;
    box-shadow: 5px 5px #0808081a;
    color: var(--font-color1);
    transition: .1s ease-in-out transform;
}
.game-container:hover{
    transform: scale(1.025);
}
.game-container img{
    border-radius: 10px;
    border: 5px solid var(--secundary2-color);
    aspect-ratio: 16/9;
}
.game-container h2{
    font-weight: bold;
}
.game-container .btn {
    background-color: var(--third-color);
    color: var(--font-color1);
}
.game-container .btn:hover {
    background-color: var(--third-color-pressed);
}