@media (min-width:700px) {
    #menu-icon {
        display: none;
    }
    #about-container{
        display: flex;
        justify-content: center;
        gap: 120px;
    }
    #about-container > *{
        flex: 1;
    }
    #about-container > div{
        max-width: 500px;
    }
    #form-btn{
        height: 40px;
        align-content: center;
        margin-top: 40px;
    }
    #about__title1{
        display: none;
    }
    #about__title2{
        display: inline-block;
    }
    #example-img {
        display: block;
        width: 30%;
        max-width: 400px;
    }
    .nav__option{
        display: inline;
    }
    #games-btn {
        display: none;
    }

    footer > main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-class {
        width: 100%;
    }
    .section-class {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #participants-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-content: space-between;
        gap: 40px;
        background-color: var(--font-color2);
        border-radius: 10px;
        box-shadow: 5px 5px 1px rgba(12, 12, 12, 0.205);
        padding: 20px;
        max-width: 1000px;
        margin: auto;
    }

    #profs-container {
        grid-column: 1/2;
        height: 100%;
    }
    
    #students-container {
        justify-self: end;
        grid-column: 2/3;
        flex-flow: row wrap;
        gap: 20px;
    }

    .participant-container{
        flex-direction: column;
        width: 150px;
        height: 150px;
    }

    .participant-container img{
        width: 60px;
    }

    footer main{
        flex-flow: row wrap;
    }

    #games-div{
        max-width: 1000px;
    }

    #games-content-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #games-container{
        flex-flow: row wrap;
        max-width: 1000px;
    }
    
    .game-container{
        flex-grow: 1;
        max-width: 240px;
    }
}