<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participante - {{ member['name'] }}</title>
    <link rel="stylesheet" href="../../style/member.css">
    <link rel="shortcut icon" href="https://octostudio.org/assets/octostudio-icon-wwClQFeP.svg" type="image/svg+xml">
    <script src="https://kit.fontawesome.com/e625421ec6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header></header>
    <main>
        <section id="participant-container">
            <div id="participant-info">
                {% if member['img'] != "" %}
                    <img src="{{ member['img'] }}" alt="foto de perfil do participante {{ member['name'] }}">
                {% else %}
                    <img src="../../imgs/members/member.png" alt="foto de perfil anônima">
                {% endif %}
                <h1>{{ member['name'] }}</h1>
                <p>{{ member['profile'] }}</p>
                <div id="div-tags">
                    {% for tag in member['tags'] %}
                        {% if tag == 'cc' %}
                            <p class="tag" id="cc">Ciência da Computação</p>
                        {% endif %}
                        {% if tag == 'td' %}
                            <p class="tag" id="td">Análise e Desenvolvimento de Sistemas</p>
                        {% endif %}
                        {% if tag[0:2] == 'oc' %}
                            <p class="tag" id="octopus">Fez {{ tag[2] }} jogo{{"" if tag[2] == "1" else "s"}} - Octopus Studio</p>
                        {% endif %}
                        {% if tag == 'do' %}
                            <p class="tag" id="do">Documentou projetos do OctoStudio</p>
                        {% endif %}
                        {% if tag[0:2] == 'rl' %}
                            <p class="tag" id="lego">Participou no projeto robô lego</p>
                        {% endif %}
                        {% if tag[0:2] == 'kc' %}
                            <p class="tag" id="koby">Criador da IA Koby</p>
                        {% endif %}
                        {% if tag[0:2] == 'sj' %}
                            <p class="tag" id="site_j">Participou na Criação do site</p>
                        {% elif tag[0:2] == 'sc' %}
                            <p class="tag" id="site_c">Criador do site</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="participant-networks">
                {% for social, url in member['social'].items() %}
                    {% if url != "" %}
                        {% if social == "email" %}
                            <a href="mailto:{{ url }}" class="net_btn" id="email" target="_blank"><i class="fa-regular fa-envelope net-icon"></i>{{ social.capitalize() }}</a>
                        {% else %}
                            <a href="{{ url }}" class="net_btn" id="{{ social }}" target="_blank"><i class="fa-brands fa-{{ social }} net-icon"></i>{{ social.capitalize() }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </main>
    <footer></footer>
    <script src="../../scripts/header.js"></script>
    <script src="../../scripts/footer.js"></script>
</body>
</html>