<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project - {{ project['name'] }}</title>
    <link rel="stylesheet" href="../../style/project.css">
    <link rel="shortcut icon" href="https://octostudio.org/assets/octostudio-icon-wwClQFeP.svg" type="image/svg+xml">
    <script src="https://kit.fontawesome.com/e625421ec6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header></header>
    <main>
        <section>
            <section id="project-header">
                {% if project['img'] != "" %}
                    <img src="{{ project['img'] }}" alt="Imagem do projeto {{ project['name'] }}">
                {% else %}
                    <img src="../../imgs/projects/project.jpg" width="300" alt="Imagem genérica de projeto sem foto">
                {% endif %}
                <div id="project-info">
                    <div id="project-title">
                        <h1 class="project">{{ project['name'] }}</h1>
                        <p id="creators">
                            {% if project['creators']|length == 1 %}
                                Criador: <a href="{{ members_pages[project['creators'][0]] }}" class="creator">{{ project['creators'][0] }}</a>
                                {% else %}
                                Criadores:
                                {% for creator in project['creators'] %}
                                    <a href="{{ members_pages[creator] }}" class="creator">{{ creator }}</a>
                                    {% if not loop.last  %}
                                        e
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                    <div id="div-tags">
                        {% if project['diff'] == 'easy' %}
                            <p class="tag easy">Dificuldade: Facil</p>
                        {% elif project['diff'] == 'mid' %}
                            <p class="tag mid">Dificuldade: Média</p>
                        {% elif project['diff'] == 'hard' %}
                            <p class="tag hard">Dificuldade: Difícil</p>
                        {% endif %}
                        {% if project['diff_dev'] == 'easy' %}
                            <p class="tag easy">Complexidade: Fácil</p>
                        {% elif project['diff_dev'] == 'mid' %}
                            <p class="tag mid">Complexidade: Média</p>
                        {% elif project['diff_dev'] == 'hard' %}
                            <p class="tag hard">Complexidade: Difícil</p>
                        {% endif %}
                    </div>
                    <p>{{ project['desc'] }}</p>
                    <a href="../../../data/games/{{ project['file'] }}" class="btn" id="download-btn" download>Baixar Jogo </a>
                </div>
            </section>
            {% if project['guide']|length > 0 %}
                <section id="guide">

                    <h1 class="guia"><i class="fa-brands fa-readme"></i> GUIA</h1>

                    <p>{{ project['guide']['text'] }}</p>
                    <br>        
                    <div>
                        <video 
                            src="{{ project['guide']['vdo'] }}" autoplay loop muted playsinline>
                        </video>
                    </div>
                </section>
            {% endif %}
        </section>
    </main>
    <footer class="back"></footer>
    <script src="../../scripts/header.js"></script>
    <script src="../../scripts/footer.js"></script>
</body>
</html>