<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project - {{ project['name'] }}</title>
    <link rel="stylesheet" href="../../style/project.css">
    <link rel="shortcut icon" href="https://octostudio.org/assets/octostudio-icon-wwClQFeP.svg" type="image/svg+xml">
    <script src="https://kit.fontawesome.com/e625421ec6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
         <div>
            <a href="../../../index.html">
                <img src="../../imgs/main/icon.png" alt="Logo UERJ em parceria com Octostudio" id="icon">
                <h1 id="header__title">Projeto Octostudio</h1>
            </a>
        </div>
        <nav>
            <button id="menu-btn">
                <i class="fa-solid fa-bars" id="menu-icon"></i>
            </button>
            <ul id="nav__options">
                <li class="nav__option"><a href="../../../index.html#about-container">Inicio</a></li>
                <li class="nav__option"><a href="">Formulário</a></li>
                <li class="nav__option"><a href="../../../index.html#participants-content-container">Participantes</a></li>
                <li class="nav__option"><a href="../../../index.html#games-content-container">Jogos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <section id="project-header">
                {% if project['img'] != "" %}
                    <img src="{{ project['img'] }}" alt="Imagem do projeto {{ project['name'] }}">
                {% else %}
                    <img src="../../imgs/projects/project.jpg" width="300" alt="Imagem genérica de projeto sem foto">
                {% endif %}
                <div id="project-info">
                    <div>
                        <h1 class="project">{{ project['name'] }}</h1>
                        <p id="creators">
                            {% if project['creators']|length == 1 %}
                                Criador: <a href="{{ members_pages[project['creators'][0]] }}" class="creator">{{ project['creators'][0] }}</a>
                                {% else %}
                                Criadores:
                                {% for creator in project['creators'] %}
                                    <a href="{{ members_pages[creator] }}" class="creator">{{ creator }}</a>
                                    {% if not loop.last  %}
                                        e
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                    <div id="div-tags">
                        {% if project['diff'] == 'easy' %}
                            <p class="tag easy">Dificuldade: Facil</p>
                        {% elif project['diff'] == 'mid' %}
                            <p class="tag mid">Dificuldade: Média</p>
                        {% elif project['diff'] == 'hard' %}
                            <p class="tag hard">Dificuldade: Difícil</p>
                        {% endif %}
                        {% if project['diff_dev'] == 'easy' %}
                            <p class="tag easy">Complexidade: Fácil</p>
                        {% elif project['diff_dev'] == 'mid' %}
                            <p class="tag mid">Complexidade: Média</p>
                        {% elif project['diff_dev'] == 'hard' %}
                            <p class="tag hard">Complexidade: Difícl</p>
                        {% endif %}
                    </div>
                    <p>{{ project['desc'] }}</p>
                    <a href="../../../data/games/{{ project['file'] }}" class="btn" id="download-btn" download>Baixar Jogo </a>
                </div>
            </section>
            {% if project['guide']|length > 0 %}
                <section id="guide">

                    <h1 class="guia">&#x1F56E; GUIA</h1>

                        {% for instruction_array in project['guide'] %}
                            {% if instruction_array[0] == 'p' %}
                                <p>{{ instruction_array[1] }}</p>
                            {% elif instruction_array[0] == 'a' %}
                                <p href="{{ instruction_array[1] }}">{{ instruction_array[2] }}</p>
                            {% elif instruction_array[0] == 'img' %}
                                <img src="../../imgs/projects/info/{{ instruction_array[1] }}" alt="imagem de instrução">
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
        </section>
    </main>
    <footer class="back"></footer>
    <script src="../../scripts/header.js"></script>
    <script src="../../scripts/footer.js"></script>
</body>
</html>